.sectionTimeline {
  position: relative;
    padding: 2rem .5rem;
    overflow: auto;
    width: 100%;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: .8em !important;
}

.container {
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.timeline {
  list-style: none;
  position: relative;
  margin: 30px 0;
  /* width: 100%; */
}

.timeline li {
  height: 80px;
  width: 140px;
  position: absolute;
  border-color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.timeline li:hover {
  transform: scale(1.05);
}

.timeline li:nth-child(odd) {
  border-style: solid;
  border-width: 2px 2px 2px 0;
  left: -40px;
  transform: translateX(50%);
  border-radius: 0 80px 80px 0;
  box-shadow: 13px 0 15px -12px rgba(0, 0, 0, .3);
}

.timeline li:nth-child(even) {
  left: -40px;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  transform: translateX(-50%);
  border-radius: 80px 0 0 80px;
  box-shadow: -15px 0 15px -12px rgba(0, 0, 0, .5);
}

.timeline li:nth-child(2) { top: 78px; }
.timeline li:nth-child(3) { top: 156px; }
.timeline li:nth-child(4) { top: 234px; }
.timeline li:nth-child(5) { top: 312px; }
.timeline li:nth-child(6) { top: 390px; }
.timeline li:nth-child(7) { top: 468px; }
.timeline li:nth-child(8) { top: 546px; }
.timeline li:nth-child(9) { top: 624px; }
.timeline li:nth-child(10) { top: 702px; }
.timeline li:nth-child(11) { top: 780px; }
.timeline li:nth-child(12) { top: 858px; }
.timeline li:nth-child(13) { top: 936px; }


.timeline li:before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}

.timeline li:nth-child(odd):before {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}

.timeline li:nth-child(even):before {
  left: 0;
  transform: translateY(-50%) translateX(-50%);
}

.timeline li:nth-child(1):after,
.timeline li:last-child:after {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f9f9f9;
  border: 2px solid black;
}

.timeline li:nth-child(1):after {
  top: 0;
  transform: translate(-50%, -50%);
}

.timeline li:last-child:after {
  bottom: 0;
    left: 0;
    transform: translate(-100%, 50%);
}

.timeline li:nth-child(1):before { content: '1'; }
.timeline li:nth-child(2):before { content: '2'; }
.timeline li:nth-child(3):before { content: '3'; }
.timeline li:nth-child(4):before { content: '4'; }
.timeline li:nth-child(5):before { content: '5'; }
.timeline li:nth-child(6):before { content: '6'; }
.timeline li:nth-child(7):before { content: '7'; }
.timeline li:nth-child(8):before { content: '8'; }
.timeline li:nth-child(9):before { content: '9'; }
.timeline li:nth-child(10):before { content: '10'; }
.timeline li:nth-child(11):before { content: '11'; }
.timeline li:nth-child(12):before { content: '12'; }
.timeline li:nth-child(13):before { content: '13'; }

.content {
  border: 1px solid #F2F2F2;
  position: absolute;
  min-width: 180px;
  border-radius: 10px;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  max-height: 120px;
  box-shadow: 0 15px 25px -20px rgba(0, 0, 0, .2);
  background: white;
}

.timeline li:nth-child(odd) .content {
  left: calc(100% + 50px);
}

.timeline li:nth-child(even) .content {
  right: calc(100% + 50px);
}

.content > * {
  padding: .5rem;
}

.content h3 {
  text-align: center;
  margin: 0;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .4);
  color: white;
}

.timeline li:nth-child(1) h3 { background-color: #e74c3c; }
.timeline li:nth-child(2) h3 { background-color: #2ecc71; }
.timeline li:nth-child(3) h3 { background-color: #e67e22; }
.timeline li:nth-child(4) h3 { background-color: #1abc9c; }
.timeline li:nth-child(5) h3 { background-color: #9b59b6; }
.timeline li:nth-child(6) h3 { background-color: #f39c12; }
.timeline li:nth-child(7) h3 { background-color: #de8278; }
.timeline li:nth-child(8) h3 { background-color: #8acc2e; }
.timeline li:nth-child(9) h3 { background-color: #e622a1; }
.timeline li:nth-child(10) h3 { background-color: #1a89bc; }
.timeline li:nth-child(11) h3 { background-color: #fba8ed; }
.timeline li:nth-child(12) h3 { background-color: #daac63; }
.timeline li:nth-child(13) h3 { background-color: #83d58c; }

.content p {
  font-size: 14px;
  line-height: 1.3;
}
